<section class="container-fluid">
    <!-- SECTION - myMonsList -->
    <section class="row justify-content-between">
        <section class="col-3 p-5">
            <div id="my-monlist" class="card border border-dark border-3 p-2 text">
                <!-- <span>Digimon</span> -->
            </div>
        </section>

        <!-- SECTION - Active Pokemon -->
        <section class="col-6 p-2" id="activemon">

            <!-- <div class="card border border-danger border-5 p-1">
                <h2 class="text-center">SeaKing</h2>
            </div>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/119.png"
                alt="SeaKing IMG" class="w-75 img-fluid">
            <div class="card border border-danger border-5 p-1">
                <div class="row justify-content-around">
                    <div class="col-11 text-center">
                        <span>Height: 4'03"</span>
                        <span>Weight: 86lbs</span>
                        <span>Types: Water</span>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-danger">Catch</button>
                    </div>
                </div>
            </div> -->

        </section>

        <!-- SECTION - List of Pokemon -->
        <section class="col-3 p-5">
            <div id="monlist" class="card border border-dark border-3 p-2 text">
                <!-- <span>Digimon</span> -->
            </div>
        </section>

    </section>
</section>